.main-message{
    width: 100%;
    background: url(../images/message-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
}

.about-section{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}